.text{
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    font-style: oblique;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
.sp-three{
    padding: 50px;
}
.sec-title {
    position: relative;
    margin-bottom: 20px;
    margin-top: -5px;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.sec-title h3 {
    font-weight: 600;
    color: #222;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.sec-title .text {
    margin-top: 20px;
}

.texto {
    font-size: 18px;
    color: #222;
    line-height: 26px;
}
p, a, .text, ul li, ul li a {
    font-family: 'Muli', sans-serif!important;
}
p {
    position: relative;
    line-height: 1.8em;
    margin-bottom: 20px;
}
.career-section{
    display: block;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
.cust-accordion .card {
    margin-bottom: 12px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.cust-accordion .btn {
    position: relative;
    font-size: 18px;
    cursor: pointer;
    line-height: 1.2em;
    color: #222222;
    font-weight: 500;
    padding: 20px 30px 20px;
    transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    font-family: 'Ubuntu', sans-serif;
}
.cust-accordion .icon {
    position: absolute;
    top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    line-height: 1em;
    left: 0px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.collapse {
    display: none;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}.job-hd {
    color: #0070ba;
    font-weight: 700;
    letter-spacing: 0.4px;
}
h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.6em;
    color: #111;
}
.job-des {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
p, a, .text, ul li, ul li a {
    font-family: 'Muli', sans-serif!important;
}
p {
    position: relative;
    line-height: 1.8em;
    margin-bottom: 30px;
}
.cust-accordion .btn {
    position: relative;
    font-size: 18px;
    cursor: pointer;
    line-height: 1.2em;
    color: #222222;
    font-weight: 500;
    padding: 20px 30px 20px;
    transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    font-family: 'Ubuntu', sans-serif;
}
.cust-accordion .btn-link:hover, .cust-accordion .btn-link.focus {
    text-decoration: none!important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
